@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="pl15">Administration</h4>
        <hr class="mt0 mb0" />
    </div>
     <div class="col-md-12">

     </div>
</div>
